[remote "collab-maint"]
	url = git://anonscm.debian.org/collab-maint/shotwell.git
	fetch = +refs/heads/*:refs/remotes/collab-maint/*
[remote "github"]
	url = git@github.com:huangyingw/shotwell.git
	fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = origin
    remote = github
[gsync]
    remote = collab-maint
    branch = master
