.deps/
.pc/
Makefile
app-icons/Makefile
autom4te.cache/
config.h
config.log
config.status
debian/
help/Makefile
help/cs/cs.mo
help/de/de.mo
help/el/el.mo
help/es/es.mo
help/hu/hu.mo
help/lv/lv.mo
help/pt_BR/pt_BR.mo
help/sv/sv.mo
icons/Makefile
libtool
misc/Makefile
misc/org.yorba.shotwell-extras.gschema.valid
misc/org.yorba.shotwell.gschema.valid
misc/shotwell-viewer.desktop
misc/shotwell.desktop
plugins/authenticator/.deps/
plugins/authenticator/.dirstamp
plugins/authenticator/.libs/
plugins/authenticator/libshotwell-authenticator.la
plugins/authenticator/plugins_authenticator_libshotwell_authenticator_la-resource.lo
plugins/authenticator/resource.c
plugins/authenticator/shotwell/.deps/
plugins/authenticator/shotwell/.dirstamp
plugins/authenticator/shotwell/plugins_authenticator_libshotwell_authenticator_la-FacebookPublishingAuthenticator.lo
plugins/authenticator/shotwell/plugins_authenticator_libshotwell_authenticator_la-FlickrPublishingAuthenticator.lo
plugins/authenticator/shotwell/plugins_authenticator_libshotwell_authenticator_la-GoogleAuthenticator.lo
plugins/authenticator/shotwell/plugins_authenticator_libshotwell_authenticator_la-ShotwellAuthenticatorFactory.lo
plugins/common/.deps/
plugins/common/.dirstamp
plugins/common/.libs/
plugins/common/libshotwell-plugin-common.la
plugins/common/plugins_common_libshotwell_plugin_common_la-BuilderPane.lo
plugins/common/plugins_common_libshotwell_plugin_common_la-RESTSupport.lo
plugins/common/plugins_common_libshotwell_plugin_common_la-Resources.lo
plugins/common/plugins_common_libshotwell_plugin_common_la-WebAuthenticationPane.lo
plugins/shotwell-data-imports/.deps/
plugins/shotwell-data-imports/.dirstamp
plugins/shotwell-data-imports/.libs/
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotDatabase.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotDatabaseBehavior.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotDatabaseTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotImporter.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotMetaTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotPhotoTagsTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotPhotoVersionsTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotPhotosTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotRollsTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotTableBehavior.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-FSpotTagsTable.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-SqliteSupport.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-VersionNumber.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-resource.lo
plugins/shotwell-data-imports/plugins_shotwell_data_imports_shotwell_data_imports_la-shotwell-data-imports.lo
plugins/shotwell-data-imports/resource.c
plugins/shotwell-data-imports/shotwell-data-imports.la
plugins/shotwell-publishing-extras/.deps/
plugins/shotwell-publishing-extras/.dirstamp
plugins/shotwell-publishing-extras/.libs/
plugins/shotwell-publishing-extras/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la-GalleryConnector.lo
plugins/shotwell-publishing-extras/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la-RajcePublishing.lo
plugins/shotwell-publishing-extras/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la-TumblrPublishing.lo
plugins/shotwell-publishing-extras/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la-YandexPublishing.lo
plugins/shotwell-publishing-extras/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la-resource.lo
plugins/shotwell-publishing-extras/plugins_shotwell_publishing_extras_shotwell_publishing_extras_la-shotwell-publishing-extras.lo
plugins/shotwell-publishing-extras/resource.c
plugins/shotwell-publishing-extras/shotwell-publishing-extras.la
plugins/shotwell-publishing/.deps/
plugins/shotwell-publishing/.dirstamp
plugins/shotwell-publishing/.libs/
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-FacebookPublishing.lo
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-FlickrPublishing.lo
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-PicasaPublishing.lo
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-PiwigoPublishing.lo
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-YouTubePublishing.lo
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-resource.lo
plugins/shotwell-publishing/plugins_shotwell_publishing_shotwell_publishing_la-shotwell-publishing.lo
plugins/shotwell-publishing/resource.c
plugins/shotwell-publishing/shotwell-publishing.la
plugins/shotwell-transitions/.deps/
plugins/shotwell-transitions/.dirstamp
plugins/shotwell-transitions/.libs/
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-BlindsEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-ChessEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-CircleEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-CirclesEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-ClockEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-CrumbleEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-FadeEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-SlideEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-SquaresEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-StripesEffect.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-resource.lo
plugins/shotwell-transitions/plugins_shotwell_transitions_shotwell_transitions_la-shotwell-transitions.lo
plugins/shotwell-transitions/resource.c
plugins/shotwell-transitions/shotwell-transitions.la
po/Makefile
po/Makefile.in
po/POTFILES
resource.c
shotwell
src/.deps/
src/.dirstamp
src/.unitize/.deps/
src/.unitize/.dirstamp
src/camera/.deps/
src/camera/.dirstamp
src/config/.deps/
src/config/.dirstamp
src/core/.deps/
src/core/.dirstamp
src/data_imports/.deps/
src/data_imports/.dirstamp
src/db/.deps/
src/db/.dirstamp
src/direct/.deps/
src/direct/.dirstamp
src/editing_tools/.deps/
src/editing_tools/.dirstamp
src/events/.deps/
src/events/.dirstamp
src/folders/.deps/
src/folders/.dirstamp
src/library/.deps/
src/library/.dirstamp
src/photos/.deps/
src/photos/.dirstamp
src/plugins/.deps/
src/plugins/.dirstamp
src/plugins/.libs/
src/plugins/libplugin.la
src/plugins/src_plugins_libplugin_la-DataImportsInterfaces.lo
src/plugins/src_plugins_libplugin_la-PublishingInterfaces.lo
src/plugins/src_plugins_libplugin_la-SpitInterfaces.lo
src/plugins/src_plugins_libplugin_la-TransitionsInterfaces.lo
src/publishing/.deps/
src/publishing/.dirstamp
src/searches/.deps/
src/searches/.dirstamp
src/sidebar/.deps/
src/sidebar/.dirstamp
src/slideshow/.deps/
src/slideshow/.dirstamp
src/tags/.deps/
src/tags/.dirstamp
src/threads/.deps/
src/threads/.dirstamp
src/unit/.deps/
src/unit/.dirstamp
src/util/.deps/
src/util/.dirstamp
stamp-h1
thumbnailer/.deps/
thumbnailer/.dirstamp
thumbnailer/shotwell-video-thumbnailer
ui/Makefile
var/
