*.c
*.h
*.langstamp
*.mo
*.o
*.pc
*.so
*.stamp
*~
.valencia
/build
/configure.mk
/help/cs/*.page
/help/de/*.page
/help/el/*.page
/help/es/*.page
/help/hu/*.page
/misc/gschemas.compiled
/misc/shotwell-viewer.desktop
/misc/shotwell.desktop
/plugins/shotwell-plugin-dev-1.0.deps
/plugins/shotwell-plugin-dev-1.0.vapi
/src/.unitize
/src/libshotwell.deps
/src/libshotwell.vapi
/thumbnailer/shotwell-video-thumbnailer
shotwell
var/log
var/logs
