[remote "GNOME"]
    url = git@github.com:GNOME/shotwell.git
    fetch = +refs/heads/*:refs/remotes/GNOME/*
[remote "github"]
    url = git@github.com:huangyingw/shotwell.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = GNOME
    branch = master
[merge]
	allow = true
[branch "dev"]
    remote = github
    merge = refs/heads/dev
[branch "master"]
    remote = GNOME
    merge = refs/heads/master
[commit]
	message = n
[vrun]
	silent = false
	async = false
[deploy]
	host = u1804
	path = ~/myproject/git/linux/GNOME/shotwell
